In [1]:
#Dictionary Methods
#clear()
student = {"name": "swathi","age": 20,"country":"USA"}
student.clear()
print(student)

print(type(student))

{}
<class 'dict'>

In [5]:
#copy()
student = {"name": "swathi","age": 20}
new_student = student.copy()
print(new_student)
print(type(student))
print(type(new_student))

{'name': 'swathi', 'age': 20}
<class 'dict'>
<class 'dict'>

In [6]:
student = {"name":"swathi","age":20}
print(student.get("age","xyz"))
print(student.get("cours","xyz"))

20
xyz

In [9]:
student = {"name":"swathi","age":20}
print(student.items())

dict_items([('name', 'swathi'), ('age', 20)])

In [12]:
student = {"name":"swathi","age":20}
print(student.keys())

dict_keys(['name', 'age'])

In [14]:
student = {"name":"swathi","age":20,"cours":"BE"}
#keys
print(student.keys())
#value
print(student.values())
#key values
print(student.items())

dict_keys(['name', 'age', 'cours'])
dict_values(['swathi', 20, 'BE'])
dict_items([('name', 'swathi'), ('age', 20), ('cours', 'BE')])

In [18]:
student = {"name":"swathi","age":20,"cours":"BE"}
#get the names
print(student.get("name":"swathi"))
#update grade A
print(student.update("grade":"A"))
print(student)
#remove age
student.pop("age")
print(student)
#remove all items
student.clear()
print(student)

SyntaxError: invalid syntax (1507106494.py, line 3)

In [23]:
marks ={"math":90,"science":85,"english":88}
print(marks.items())
print(marks.pop("english"))

dict_items([('math', 90), ('science', 85), ('english', 88)])
88

In [6]:
student = {}
while True:
    print("\n1.add students")
    print("2.view students")
    print("3.exit")
          
    choice = input("enter choice:")
    
    if choice == '1':
       sid = input("enter student id:")
       name = input("enter student name:")
       student[sid] = name
       print("student added!")
    elif choice =='2':
        if not student:
            print("no student found.")
        else:
            for sid, name in student.items():
                print(f"ID:{sid}, name:{name}")
            
    elif choice =='3':
        print("good byee")
        break
    else:
        print("invalid id,please try again!!!:")

1.add students
2.view students
3.exit
enter choice:1
enter student id:111
enter student name:ggg
student added!

1.add students
2.view students
3.exit
enter choice:2
ID:111, name:ggg

1.add students
2.view students
3.exit
enter choice:3
good byee

In [10]:
print("HI")
def greet(name="XYZ"):
    print("Hello,Welcome to", name,"!")
print("Hello")

greet()
greet("python")

HI
Hello
Hello,Welcome to XYZ !
Hello,Welcome to python !

In [3]:
def Arth(X,Y):
    a=x
    b=y
    c=a+b
    print(c)
x=int(input("enter num1:"))
y=int(input("enter num2:"))
Arth(x,y)

enter num1:9
enter num2:9
18

In [4]:
def add(a, b):
    return a+b
result=add(100,200)
print("a + b is",result)

a + b is 300

In [5]:
def square(num):
    return num * num
print("square of 4 is:",square(4))

square of 4 is: 16

In [13]:
def div(a,b):
    return a % b
print("division:",div(10,5))

addition: 15
subraction: 5
muliplication: 50
division: 0
double division: 10

In [20]:
num1 =int(input("enter the first number:"))
num2 =int(input("enter the second nuber:"))

while True:
    print("\nsimple calculator:")
    print("select operation")
    print("1.addition")
    print("2.subraction")
    print("3.multiplecation")
    print("4.division")
    print("5.exit")
    choice = input("enter choice(1/2/3/4/5):")
    
     if choice == '1':
        print("addition:",a + b)
    elif choice == '2':
        print("subraction:",a - b)
    elif choice == '3':
        print("multiplication:",a * b)
    elif choice == ''

    def add(num1,num2):
        return num1+num2
    print("addition:",a+b)
    elif choice == '2':
        choice=input("enter your choice")
            
    num1 =int(input("enter the first number:"))
    num2 =int(input("enter the second nuber:"))

    def sub(num1,num2):
        return num1-num2
    print("subraction:",a-b)
    elif choice == '3':
        choice = input("enter choice:")

            
    num1 =int(input("enter the first number:"))
    num2 =int(input("enter the second nuber:"))
    


    def multi(num1,num2):
        return num1*num2
    print("multi:",a*b)

    def div(num1,num2):
        return num1+num2
    print("division:",a/b)

IndentationError: unexpected indent (3047986280.py, line 11)

In [2]:
import time

c_time = time.localtime()

print("full date & time",time.strftime("%y-%m-%d %h:%m:%s",c_time))
print("only date:",time.strftime("%d/%m/%y",c_time))
print("only time:",time.strftime("%i:%m%p",c_time))
print("day name:",time.strftime("%a",c_time))

full date & time 25-10-28 Oct:10:1761642833
only date: 28/10/25
only time: %i:10PM
day name: Tue

In [3]:
import random
print(random.random())

0.5185679007719374

In [4]:
import random
print(random.randint(1,7))

6

In [6]:
import random
fruits = ["apple","banana","cherry","mango"]
print(random.choice(fruits))

banana

In [8]:
import calendar
print(calendar.month(2025, 7))

     July 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [10]:
import calendar

year = int(input("enter the year:"))
print(calendar.calendar(year))

enter the year:2026
                                  2026

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [11]:
import calendar

day = int(input("enter day(1-3):"))
month = int(input("enter month(1-12)"))
year = int(input("enter the year(e.g.,2025):"))

day_number = calendar.weekday(year,month,day)
day_name = calendar.day_name[day_number]

print(f"the day on{day}/{month}/{year} is {day_name}.")

enter day(1-3):22
enter month(1-12)7
enter the year(e.g.,2025):2005
the day on22/7/2005 is Friday.

In [14]:
import random

student = ["swathi","vinay","sharth","sindhu",
          "sindhu","rukhaiya","nischitha","nida"]
random.shuffle (student)
print("shuffled list:",student)
winners = random.sample(student,3)
print("lucky draw winner:",winners)

shuffled list: ['rukhaiya', 'nischitha', 'vinay', 'sharth', 'nida', 'swathi', 'sindhu', 'sindhu']
lucky draw winner: ['sindhu', 'sindhu', 'nischitha']

In [13]:
import math
x = 10
print(math.sqrt(x))

3.1622776601683795

In [19]:
class Car:
    def __init__(self,brand,color):
        self.brand = brand
        self.color = color
        
my_car = Car("tayota","red")

print("Car Brand:",my_car.brand)
print("Car Color:",my_car.color)

Car Brand: tayota
Car Color: red